.profil-page{
  display: flex;
  align-items: center;
  justify-content: center;
  .profil-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    margin: 0.5rem;
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    .profile-photo{

      .photo-placeholder{
        background-color: #ede5de;
        border: 2px dashed #b0a99f;
        padding: 4rem;
        border-radius: 50%;
        position: relative;

        .edit-photo{
          background-color: #ffffff;
          border: 1px solid #b0a99f;
          border-radius: 50%;
          padding: 0.5rem;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          right: 0;

          &:hover {
            background-color: #dfd5c9;
          }
        }
      }
    }

    .profile-info{
      margin-top: 2rem;
      text-align: center;

      .edit-icon{
         background-color: #ffffff;
          border: 1px solid #b0a99f;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: #dfd5c9;
          }
      }

      .info-container{
        text-align: left;
      }
  
    }
  }

}